note: <h4>Use filters and pagination</h4>
<div class="article-list container">
  <table cellpadding="5px" cellspacing="5px" border="1" bgcolor="lightgreen">
    <tbody>
    <tr>
      <th>User Id</th>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th>Editor</th>
      <th>Created Date</th>
      <th>Actions</th>
    </tr>
    
    <!-- <ng-container *ngFor="let items of article_array_keys" class="structure"> -->
        <tr *ngFor="let item of article_array_keys">
          <td> <input type="text" name="id" value="{{item.id}}" [disabled]="editable"> </td>
          <td><input type="text" name="title" value="{{item.title}}"></td>
          <td> <input type="text" name="body" value="{{item.body}}"> </td>
          <td> <input type="text" name="author" value="{{item.author}}"> </td>
          <td> <input type="text" name="editor" value="{{item.editor}}"></td>
          <td> <input type="text" name="created_at" value="{{item.created_at}}"></td>
          <td><input type="button" name="edit" value="edit" (click)="item_editable(item.id)"></td>
        </tr>
        <!-- </ng-container> -->
    </tbody>
</table>
</div>